/* Color */
/* Mixin */
/* Main Design */
* {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}

h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}

h5 {
  font-family: Shrikhand;
  font-size: 28px;
  font-weight: 400;
  margin: 0;
}

h6 {
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
}

p {
  margin: 0;
}

.header__index {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  z-index: 1;
}
.header__index .header__location {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-size: 16px;
  gap: 1rem;
  color: #353535;
  background-color: #eaeaea;
  box-shadow: inset 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.header__index .header__location img {
  height: 1rem;
}

.logo {
  height: 3.5rem;
  padding: 1rem 0 0.8rem 0;
}

/* Main */
.main__restaurant {
  width: 100%;
}

/* Intro */
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
  gap: 1rem;
  margin-bottom: 3rem;
  background-color: #f6f6f6;
  z-index: 0;
  width: 100%;
}
.intro p {
  font-size: 18px;
  font-weight: 300;
  color: #353535;
}
.intro .intro__btn {
  color: white;
  height: 3rem;
  min-width: 180px;
  padding: 0 1rem;
  margin: 0;
  background: linear-gradient(#ff79da, #9356dc);
  border-radius: 1.5rem;
  border: none;
}

/* Tuto */
.tuto {
  display: flex;
  flex-direction: column;
  padding: 0 1.5rem;
}
.tuto .tuto__group {
  display: flex;
  flex-direction: column;
  padding: 3rem 0;
  gap: 1.5rem;
}
.tuto .tuto__group h2 {
  margin-bottom: 1.5rem;
}
.tuto .tuto__group .tuto__btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 20px;
  height: 5rem;
  gap: 1.5rem;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
}
.tuto .tuto__group .tuto__btn .btn__number {
  color: white;
  background-color: #9356dc;
  font-size: 14px;
  text-align: center;
  height: 24px;
  width: 24px;
  border-radius: 24px;
  margin-left: -12px;
  padding: 4px;
}

/* Restauraunts */
.restaurant {
  width: 100%;
  background-color: #f6f6f6;
  gap: 1rem;
}
.restaurant h2 {
  padding: 3rem 1.5rem 0 1.5rem;
}
.restaurant .restaurant__group .restaurant__menu {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 1.5rem;
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.restaurant .restaurant__group .restaurant__menu img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 190px;
}
.restaurant .restaurant__group .restaurant__menu .menu__content {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 1rem;
}
.restaurant .restaurant__group .restaurant__menu .menu__content .content__text h3 {
  margin-bottom: 0.5rem;
}
.restaurant .restaurant__group .restaurant__menu .menu__content .content__text p {
  font-weight: 300;
}
.restaurant .restaurant__group .restaurant__menu .menu__heart {
  margin: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  width: 100%;
  padding: 1.5rem;
  gap: 1rem;
}
footer li {
  padding-bottom: 0.5rem;
}
footer li a {
  color: white;
}
footer li img {
  padding-right: 0.5rem;
}

h4 {
  font-family: Shrikhand;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  color: white;
}

/* Menus */
.main__menu {
  background-color: #f6f6f6;
}

.header__menu {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: white;
  z-index: 1;
}
.header__menu a {
  margin-right: auto;
}
.header__menu .menu__arrow {
  margin: 1rem;
  width: 2rem;
  height: 2rem;
}
.header__menu .logo {
  flex: 1;
  text-align: center;
  transform: translateX(-2rem);
}

.back__img {
  overflow: hidden;
  z-index: 0;
  width: 100%;
}

.menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #f6f6f6;
  gap: 2.5rem;
  border-radius: 30px 30px 0 0;
  z-index: 1;
  top: -30px;
  position: relative;
}
.menu .menu__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 2rem 0 2rem;
  padding: 2rem 0 0 0;
}

.dish {
  display: flex;
  flex-direction: column;
  margin: 0 1rem 0 1rem;
  gap: 1rem;
}
.dish .underline {
  width: 2.5rem;
  height: 3px;
  background-color: #99e2d0;
  transform: translateY(0.3rem);
}
.dish .dish__choice {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  gap: 0.3rem;
  padding: 1rem;
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
}
.dish .dish__choice .choice__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.dish .dish__choice .choice__content #content__text {
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 300;
}
.dish .dish__choice .choice__content #content__price {
  font-weight: 700;
}

.command__btn {
  align-self: center;
  width: 12rem;
  color: white;
  height: 3rem;
  min-width: 180px;
  padding: 0 1rem;
  margin: 0;
  background: linear-gradient(#ff79da, #9356dc);
  border-radius: 1.5rem;
  border: none;
}

/* Desktop */
@media screen and (min-width: 761px) {
  h1 {
    font-size: 40px;
  }
  .tuto {
    margin: auto;
    max-width: 1440px;
  }
  .tuto h2 {
    align-self: flex-start;
  }
  .tuto .tuto__group {
    justify-content: center;
    width: 100%;
    flex-direction: row;
  }
  .tuto .tuto__btn {
    width: 33%;
    flex: 1;
  }
  .restaurant h2 {
    margin: auto;
    padding-bottom: 3rem;
    max-width: 1440px;
  }
  .restaurant .restaurant__group {
    margin: auto;
    max-width: 1440px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  .restaurant .restaurant__group .restaurant__menu {
    width: 43%;
  }
  footer {
    flex-direction: row-reverse;
    gap: 5rem;
  }
  footer ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
    padding: 1.5rem 0 0 0;
  }
  footer h4 {
    padding: 1.5rem 1.5rem 0 0;
  }
  /* Menus */
  .main__menu {
    width: 100%;
    background-color: white;
  }
  .main__back {
    width: 100%;
    height: 400px;
  }
  .menu {
    margin: auto;
    max-width: 1055px;
  }
}/*# sourceMappingURL=styles.css.map */