/* Color */

$c-primary: #9356DC;
$c-secondary: #FF79DA;
$c-tertiary: #99E2D0;

/* Main Design */

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    
}

// Header

.header__location {
    flex-direction: row; /* a revoir */
}


/* Tuto */

#tuto {
    display: flex;
    flex-direction: column;
        &__btn {
            flex-direction: row;
        }
}

/* Restauraunts */

#restauraunt {

}

/* Footer */

footer {
    background-color: #353535;
    width: 100%;
}


// Affichage temporaire
a img {
    width: 100px;
    height: 100px;
}
