/* Color */

$c-primary: #9356dc;
$c-secondary: #ff79da;
$c-tertiary: #99e2d0;
$c-background: #f6f6f6;
$c-highlight: #eaeaea;
$c-darken: #353535;

/* Mixin */

@mixin btn {
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	height: 3rem;
	min-width: 180px;
	padding: 0 1rem;
	margin: 0;
	background: linear-gradient($c-secondary, $c-primary);
	box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25); 
	border-radius: 1.5rem;
	border: none;
	cursor: pointer;
	position: relative;
	&::before {
		content: "";
		position: absolute;
		border-radius: 1.5rem;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(255, 255, 255, 0);
		transition: all 0.3s ease-in-out;
	}
	&:hover::before {
		background-color: rgba(255, 255, 255, 0.25);
		box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
	}
}

@mixin heart {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	&:hover > .menu__heart__full {
		transform: scale(1);
	}
	.menu__heart {
		position: absolute;
	}
	.menu__heart__full {
		position: absolute;
		transition: transform 0.2s ease-in-out;
		transform: scale(0);
	}
}

/* Main Design */

* {
	font-family: Roboto;
	font-size: 16px;
	font-weight: 500;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 24px;
	font-weight: 700;
	margin: 0;
}

h2 {
	font-size: 24px;
	font-weight: 700;
	margin: 0;
}

h3 {
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 18px;
	font-weight: 700;
	margin: 0;
}

h5 {
	font-family: Shrikhand;
	font-size: 28px;
	font-weight: 400;
	margin: 0;
}

h6 {
	font-size: 16px;
	font-weight: 300;
	text-transform: uppercase;
	margin: 0;
}

p {
	margin: 0;
}

/* Loader */

.loader {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9;
	background-color: white;
	animation: loader 1s ease-out 1s forwards;
	pointer-events: none;
	.loader__animation {
		position: relative;
		border: 1.3rem double $c-darken;
		border-top: 1.3rem double $c-background;
		border-bottom: 1.3rem double $c-background;
		border-radius: 50%;
		width: 10rem;
		height: 10rem;
		animation: spin 1s ease-in-out 2 alternate-reverse;
		z-index: 10;
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes loader {
	0% {
		opacity: 100%;
	}
	100% {
		opacity: 0%;
	}
}

// Header

.header__index {
	display: flex;
	flex-direction: column;
	width: 100%;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	z-index: 1;
	.header__location {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 50px;
		font-size: 16px;
		gap: 1rem;
		color: $c-darken;
		background-color: $c-highlight;
		box-shadow: inset 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
		img {
			height: 1rem;
		}
	}
}

.logo {
	height: 3.5rem;
	padding: 1rem 0 0.8rem 0;
	pointer-events: none;
}

/* Main */

.main__restaurant {
	width: 100%;
}

/* Intro */

.intro {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 2rem;
	gap: 1rem;
	margin-bottom: 3rem;
	background-color: $c-background;
	z-index: 0;
	width: 100%;
	p {
		font-size: 18px;
		font-weight: 300;
		color: $c-darken;
	}
	.intro__btn {
		@include btn;
	}
}

/* Tuto */

.tuto {
	display: flex;
	flex-direction: column;
	padding: 0 1.5rem;
	.tuto__group {
		display: flex;
		flex-direction: column;
		padding: 3rem 0;
		gap: 1.5rem;
		h2 {
			margin-bottom: 1.5rem;
		}
		.tuto__btn {
			display: flex;
			flex-direction: row;
			align-items: center;
			background-color: $c-background;
			border-radius: 20px;
			height: 5rem;
			gap: 1.5rem;
			box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
			cursor: pointer;
			.btn__number {
				color: white;
				background-color: $c-primary;
				font-size: 14px;
				text-align: center;
				height: 24px;
				width: 24px;
				border-radius: 24px;
				margin-left: -12px;
				padding: 4px;
			}
		}
	}
}

/* Restauraunts */

#restaurant {
	width: 100%;
	background-color: $c-background;
	gap: 1rem;
	h2 {
		padding: 3rem 1.5rem 0 1.5rem;
	}
	.restaurant__group {
		.restaurant__menu {
			display: flex;
			flex-direction: column;
			background-color: white;
			margin: 1.5rem;
			border-radius: 15px;
			box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
			overflow: hidden;
			position: relative;
			img {
				object-fit: cover;
				width: 100%;
				height: 190px;
			}
			.menu__content {
				display: flex;
				justify-content: space-between;
				flex-direction: row;
				padding: 1rem;
				.content__text {
					h3 {
						margin-bottom: 0.5rem;
					}
					p {
						font-weight: 300;
					}
				}
			}
			.menu__new {
				position: absolute;
				top: 1rem;
				right: 1rem;
				color: #008766;
				background-color: $c-tertiary;
				padding: 0.5rem;
				box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
				font-size: 14px;
			}
			.menu__heart-container {
				@include heart;
				height: 2rem;
				width: 2rem;
				.menu__heart {
					height: 1.5rem;
					width: 1.5rem;
				}
				.menu__heart__full {
					height: 1.8rem;
					width: 1.8rem;
				}
			}
		}
	}
}

/* Footer */

footer {
	display: flex;
	flex-direction: column;
	background-color: $c-darken;
	width: 100%;
	padding: 1.5rem;
	gap: 1rem;
	li {
		padding-bottom: 0.5rem;
		a {
			color: white;
		}
		img {
			padding-right: 0.5rem;
		}
	}
}

h4 {
	font-family: Shrikhand;
	font-size: 18px;
	font-weight: 400;
	margin: 0;
	color: white;
}

/* Menus */

.main__menu {
	background-color: $c-background;
	width: 100%;
	background-color: white;
	a {
		align-self: center;
		.command__btn {
			width: 12rem;
			@include btn;
		}
	}
}

.header__menu {
	display: flex;
	align-items: center;
	width: 100%;
	background-color: white;
	z-index: 1;
	a {
		margin-right: auto;
	}
	.menu__arrow {
		margin: 1rem;
		width: 2rem;
		height: 2rem;
	}
	.logo {
		flex: 1;
		text-align: center;
		transform: translateX(-2rem);
	}
}

.main__back {
	position: relative;
	height: 300px;
	width: 100%;
	bottom: -30px;
	z-index: 0;
	overflow: visible;
	.back__img {
		position: absolute;
		width: 100%;
		height: 150%;
		bottom: 0;
		object-fit: cover;
	}
}

.menu {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
	background-color: $c-background;
	gap: 2.5rem;
	padding-bottom: 2rem;
	border-radius: 30px 30px 0 0;
	margin: auto;
	z-index: 1;
	.menu__title {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		margin: 0 2rem 0 2rem;
		padding: 2rem 0 0 0;
		.menu__heart-container {
			@include heart;
			height: 2.5rem;
			width: 2.5rem;
		}
		.menu__heart {
			height: 2rem;
			width: 2rem;
		}
		.menu__heart__full {
			height: 2.3rem;
			width: 2.3rem;
		}
	}
}

.dish {
	display: flex;
	flex-direction: column;
	margin: 0 1rem 0 1rem;
	gap: 1rem;
	.underline {
		width: 2.5rem;
		height: 3px;
		background-color: $c-tertiary;
		transform: translateY(0.3rem);
	}
	.dish__choice {
		display: flex;
		align-items: center;
		background-color: white;
		height: 4.5rem;
		border-radius: 15px;
		box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
		overflow: hidden;
		&:hover > .choice__check {
			width: 4.5rem;
			.check__logo {
				opacity: 1;
			}
		}
		.choice {
			width: 100%;
			overflow: hidden;
			h3 {
				white-space: nowrap;
				text-overflow: ellipsis;
				padding: 0 1rem 0.5rem 1rem;
			}
			.choice__content {
				display: flex;
				justify-content: space-between;
				padding: 0 1rem 0 1rem;
			}
			.content__text {
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
				font-weight: 300;
			}
			.content__price {
				font-weight: 700;
			}
		}
		.choice__check {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 4.5rem;
			width: 0;
			background-color: $c-tertiary;
			transition: width 0.3s ease-in-out;
			.check__logo {
				height: 1.5rem;
				width: 1.5rem;
				transition: opacity 0.3s ease-in-out;
				opacity: 0;
			}
		}
	}
}

/* Animation Menus */

.starter {
	animation: apparition 1s ease-in-out 0.5s forwards;
	opacity: 0%;
}

.principal {
	animation: apparition 1s ease-in-out 1.5s forwards;
	opacity: 0%;
}

.dessert {
	animation: apparition 1s ease-in-out 2.5s forwards;
	opacity: 0%;
}

@keyframes apparition {
	0% {
		opacity: 0%;
		transform: translateY(-2rem);
	}
	100% {
		opacity: 100%;
		transform: translateY(0);
	}
}


/* Desktop */

@media screen and (min-width: 761px) {
	h1 {
		font-size: 40px;
	}

	.tuto {
		margin: auto;
		max-width: 1440px;
		h2 {
			align-self: flex-start;
		}
		.tuto__group {
			justify-content: center;
			width: 100%;
			flex-direction: row;
		}
		.tuto__btn {
			width: 33%;
			flex: 1;
		}
	}

	#restaurant {
		h2 {
			margin: auto;
			padding-bottom: 3rem;
			max-width: 1440px;
		}
		.restaurant__group {
			margin: auto;
			max-width: 1440px;
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			.restaurant__menu {
				width: 43%;
			}
		}
	}

	footer {
		flex-direction: row-reverse;
		gap: 5rem;
		ul {
			display: flex;
			justify-content: center;
			flex-direction: row;
			gap: 1rem;
			padding: 1.5rem 0 0 0;
		}
		h4 {
			padding: 1.5rem 1.5rem 0 0;
		}
	}

	/* Menus */

	.main__menu {
		background-color: white;
	}

	.main__back {
		height: 400px;
	}

	.menu {
		margin: auto;
		max-width: 1055px;
		.menu__title {
			align-self: center;
			min-width: 40%;
			gap: 3rem;
		}
		.dish {
			align-self: center;
			width: 60%;
		}
	}
}
